# Default Homebrew MySQL server config

[client]
port							= 3306
socket							= /tmp/mysql.sock

[mysqld]
port							= 3306
socket=/tmp/mysql.sock

#skip-networking
bind-address 					= 127.0.0.1

#skip-external-locking
#default-authentication-plugin=mysql_native_password

key_buffer_size					= 1G
max_allowed_packet 				= 1G
table_open_cache 				= 256
join_buffer_size				= 8M
read_buffer_size				= 4M
sort_buffer_size				= 4M

read_rnd_buffer_size 			= 4M
myisam_sort_buffer_size 		= 64M
thread_cache_size 				= 8

tmp_table_size					= 32M
max_heap_table_size				= 32M

#InnoDB specifications
innodb_buffer_pool_size 		= 512M
innodb_lock_wait_timeout 		= 180
innodb_buffer_pool_instances 	= 2

#Slow query log
slow_query_log 					= 1

# binary logging format - mixed recommended
binlog_format=mixed
log_error						= /usr/local/var/log/mysql/mysql_error.log

[mysqldump]
quick
max_allowed_packet				= 32M

# Ridurre wait_timeout
wait_timeout					= 10
connect_timeout					= 10
interactive_timeout				= 10

# Query cache.
query_cache_limit				= 1M
query_cache_size				= 128M
query_cache_type				= 1

[mysqld_safe]
open_files_limit				= 8192
log_error						= /usr/local/var/log/mysql/mysqld_safe_error.log

[myisamchk]
key_buffer						= 512M
sort_buffer						= 256M
read_buffer						= 64M
write_buffer					= 64M